---
galaxy_info:
  role_name: example
  author: {{ author | tojson }}
  description: Example role in the {{ namespace }}.{{ collection_name }} collection
{% if license != 'none' %}
  license: {{ license }}
{% endif %}
  min_ansible_version: "{{ min_ansible_version }}"
  platforms:
    - name: Debian
      versions:
        - bookworm
  galaxy_tags: []

dependencies: []
