---
galaxy_info:
  role_name: {{ role_name }}
  namespace: {{ namespace }}
  author: {{ author | tojson }}
  description: {{ (role_description or role_name) | tojson }}
{% if license != 'none' %}
  license: {{ license }}
{% endif %}
  min_ansible_version: "{{ min_ansible_version }}"
  platforms:
    - name: Debian
      versions:
        - trixie
  galaxy_tags: []

dependencies: []

{% if galaxy_collections %}
collections:
{% for c in galaxy_collections %}
  - {{ c.name if c is mapping else c }}
{% endfor %}
{% else %}
collections: []
{% endif %}
