---
{% if galaxy_collections %}
collections:
{% for c in galaxy_collections %}
{% if c is mapping %}
  - name: {{ c.name }}
{% if c.version is defined and c.version %}
    version: "{{ c.version }}"
{% endif %}
{% else %}
  - name: {{ c }}
{% endif %}
{% endfor %}
{% else %}
collections: []
{% endif %}
